<%= form_for(@spore_print) do |f| %>
  <% if @spore_print.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spore_print.errors.count, "error") %> prohibited this spore_print from being saved:</h2>

      <ul>
      <% @spore_print.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :src %><br>
    <%= f.text_field :src %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
